@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);

body{
	font-family: "Open Sans",Helvetica,Arial,"Lucida Grande",sans-serif;
}

.menu{
	background: $deepBlack;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 600;
}
.nav{
	& > li{
		& > a{
			padding: 29px 24px;
		}
	}
}
.navbar{
	background: none;
	border: 0;
	min-height: 0;
	margin-bottom: 0;
	.navbar-nav{
		& > .active{
			& > a,
			& > a:hover,
			& > a:focus{
				background: none;
				color: white;
			}
		}
		& > li{
			& > a{
				color: $deepBlackSec;
				&:hover{
					color: white;
				}
			}
		}
	}
}

header.small {height: 60px;}
header {
 	position:fixed;
 	width: 100%;
 	z-index: 999;
	top: 0;
	height: 78px;
	border-bottom: 1px solid rgb(105, 105, 105); /* The Fallback */
	border-bottom: 1px solid rgba(255, 255, 255, .15);
	-webkit-background-clip: padding-box; /* for Safari */
	background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
	.navbar{
		position: static;
	}
 }

.main_nav {float: right; margin-top: 28px; }
.main_nav li {
	float: left;
	text-transform: uppercase;
	font-size:13px;
	margin-right:38px;
	font-weight: bolder;
	z-index: 1;
	list-style: none;
	position: relative;
	float: left;
	display: inline;
}

.main_nav li a {color:#B8B8B8;}
.main_nav li.active a, .main_nav li a:hover {color:white;}

.social_nav{
	position: absolute;
	right: 0;
	top: 0;
	ul{
		list-style: none;
	}
	i {color:white;}
	li {
		float: left;
		i {
			padding:28px;
			border-left: 1px solid rgb(105, 105, 105); /* The Fallback */
			border-left: 1px solid rgba(255, 255, 255, .15);
			-webkit-background-clip: padding-box; /* for Safari */
			background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
		}
	}
	.fa-2x {font-size: 1.5em!important;}
}
.logo-pafc{
	position: absolute;
	left: 13px;
	top: 9px;
}

.btn-general{
	background: #3d7bc4;
	display: inline-block;
	color: white;
	padding: 5px 26px;
	border-radius: 3px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 13px;
	&:hover{
		text-decoration: none;
		color: white;
		background: #2F5F98;
	}
}
