section{
	&:before,
	&:after{
		content: " ";
		display: table;
	}
	&:after{
		clear: both;
	}
}

.section-header{
	text-align: center;
	h2{
		text-transform: uppercase;
		margin-top: 0;
		font-size: 36px;
	}
	padding-bottom: 80px;
}

#carousel{
	text-align: center;
	position: relative;
	.slide{
		display: inline-block;
		.slide-text{
			position: absolute;
			top: 52.12121212121212%;
			width: 100%;
			left: 0;
			text-transform: uppercase;
		}
		h1, h3{
			max-width: 49.20634920634921%;
			display: inline-block;
		}
		h1{
			color: black;
			font-size: 92px;
			font-weight: 700;
			line-height: 100px;
		}
		h3{
			color: $deepBlackSec;
			font-weight: 300;
			font-size: 18px;
			line-height: 25px;
		}
	}
	.carousel-control{
		position: absolute;
		bottom: 20px;
		left: 0;
		right: 0;
		top: initial;
		width: 100%;
		opacity: 1;
		a{
			display: inline-block;
			width: 15px;
			height: 15px;
			border-radius: 50%;
			background: $deepBlackSec;
			position: relative;
			&:hover,
			&.active{
				&:before{
					content: '';
					width: 6px;
					height: 6px;
					background: white;
					position: absolute;
					border-radius: 50%;
					left: 50%;
					margin-left: -3px;
					top: 50%;
					margin-top: -4px;
				}
				background: black;
			}
		}
	}
}

#scheme{
	background: #f7f7f7;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
	.i-scheme{
		width: 53px;
		height: 41px;
		display: inline-block;
		background: url('../images/home/icon-intro.png');
	}
	.t-scheme{
		display: inline-block;
		margin-top: 18px;
	}
	h2{
		text-transform: uppercase;
		font-weight: 800;
		font-size: 22px;
		letter-spacing: 5px;
		margin-top: 0;
		margin-bottom: 60px;
	}
	p{
		font-weight: 300;
		color: $deepBlackSec;
		font-size: 25.5px;
	}
}

#features{
	padding-top: 160px;
	.i-feature{
		display: inline-block;
		width: 78px;
		height: 65px;
		position: absolute;
		left: 20px;
		top: 0;
		background: {
			image: url('../images/home/sprite.png');
			repeat: no-repeat;
		}
		&.organization{
			background-position: 0 0;
		}
		&.cup{
			background-position: 0 -65px;
		}
		&.pencil{
			background-position: 0 -130px;
		}
		&.qrcode{
			background-position: 0 -195px;
		}
	}
	.features{
		h3{
			font-weight: 700;
			text-transform: uppercase;
			font-size: 17px;
			margin-top: 22px;
		}
		p{
			font-size: 15px;
			line-height: 25px;
		}
	}
	.feature{
		position: relative;
		padding-left: 124px;
		//max-width: 54.5%;
		max-width: 809px;
		&:before,
		&:after{
			content: " ";
			display: table;
		}
		&:after{
			clear: both;
		}
	}
	.button-right{
		text-align: right;
		a{
			background: $blue;
			display: inline-block;
			color: white;
			padding: 6px 30px;
			border-radius: 3px;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 14px;
			&:before{
				content: ' ';
				width: 100%;

			}
		}
	}
}

#testimonials{
	background: black;
	color: white;
	text-align: center;
	height: 770px;
	width: 100%;
	h3{
		text-transform: uppercase;
		font-size: 32px;
		font-weight: 700;
		margin-top: 155px;
		margin-bottom: 65px;
	}
	.testimonial{
		width: 58.7%;
		display: inline-block;
		p{
			line-height: 35px;
			font-weight: 300;
			font-size: 20px;
		}
	}
	.testimonial-control{
		a{
			display: inline-block;
			width: 12px;
			height: 12px;
			background: #8f8f8f;
			border-radius: 50%;
			&.active{
				background: #bbb;
			}
		}
	}
	.testimonial-name{
		display: block;
	}
}


#logos{
	color: white;
	.logos-row{
		&:before,
		&:after{
			content: " ";
			display: table;
		}
		&:after{
			clear: both;
		}
		.logo{
			width: 33.333%;
			float: left;
			text-align: center;
			height: 198px;
			vertical-align: middle;
		}
	}
}