section,
#footer{
	&:before,
	&:after{
		content: " ";
		display: table;
	}
	&:after{
		clear: both;
	}
}

.section-header{
	text-align: center;
	h2{
		text-transform: uppercase;
		margin-top: 0;
		font-size: 33px;
	}
	p{
		font-size: 16.5px;
		color: #474747;
		font-weight: 300;
	}
	padding-bottom: 80px;
}

#carousel{
	text-align: center;
	position: relative;
	.slide{
		display: inline-block;
		.slide-text{
			position: absolute;
			top: 52.12121212121212%;
			width: 100%;
			left: 0;
			text-transform: uppercase;
		}
		h1, h3{
			max-width: 49.20634920634921%;
			display: inline-block;
		}
		h1{
			color: black;
			font-size: 92px;
			font-weight: 700;
			line-height: 100px;
		}
		h3{
			color: $deepBlackSec;
			font-weight: 300;
			font-size: 18px;
			line-height: 25px;
		}
	}
	.carousel-control{
		position: absolute;
		bottom: 20px;
		left: 0;
		right: 0;
		top: initial;
		width: 100%;
		opacity: 1;
		a{
			display: inline-block;
			width: 15px;
			height: 15px;
			border-radius: 50%;
			background: $deepBlackSec;
			position: relative;
			&:hover,
			&.active{
				&:before{
					content: '';
					width: 6px;
					height: 6px;
					background: white;
					position: absolute;
					border-radius: 50%;
					left: 50%;
					margin-left: -3px;
					top: 50%;
					margin-top: -4px;
				}
				background: black;
			}
		}
	}
}

#scheme{
	background: #f7f7f7;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
	.i-scheme{
		width: 53px;
		height: 41px;
		display: inline-block;
		background: url('../images/home/icon-intro.png');
	}
	.t-scheme{
		display: inline-block;
		margin-top: 18px;
	}
	h2{
		text-transform: uppercase;
		font-weight: 800;
		font-size: 22px;
		letter-spacing: 5px;
		margin-top: 0;
		margin-bottom: 60px;
	}
	p{
		font-weight: 300;
		color: $deepBlackSec;
		font-size: 25.5px;
	}
}

#features{
	padding-top: 160px;
	.i-feature{
		display: inline-block;
		width: 78px;
		height: 65px;
		position: absolute;
		left: 20px;
		top: 0;
		background: {
			image: url('../images/home/sprite.png');
			repeat: no-repeat;
		}
		&.organization{
			background-position: 0 0;
		}
		&.cup{
			background-position: 0 -65px;
		}
		&.pencil{
			background-position: 0 -130px;
		}
		&.qrcode{
			background-position: 0 -195px;
		}
	}
	.features{
		h3{
			font-weight: 700;
			text-transform: uppercase;
			font-size: 15.55px;
			margin-top: 22px;
		}
		p{
			font-size: 14px;
			line-height: 26px;
			color: #636363;
			font-weight: 300;
			margin-top: 26px;
		}
	}
	.feature{
		position: relative;
		padding-left: 124px;
		//max-width: 54.5%;
		max-width: 809px;
		&:before,
		&:after{
			content: " ";
			display: table;
		}
		&:after{
			clear: both;
		}
	}
	.button-right{
		text-align: right;
		a{
			background: $blue;
			display: inline-block;
			color: white;
			padding: 5px 26px;
			border-radius: 3px;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 13px;
			&:before{
				content: ' ';
				width: 100%;

			}
		}
	}
}

#testimonials{
	background: black;
	color: white;
	text-align: center;
	height: 770px;
	width: 100%;
	h3{
		text-transform: uppercase;
		font-size: 32px;
		font-weight: 700;
		margin-top: 155px;
		margin-bottom: 65px;
	}
	.testimonial{
		width: 58.7%;
		display: inline-block;
		p{
			line-height: 35px;
			font-weight: 300;
			font-size: 20px;
		}
	}
	.testimonial-control{
		a{
			display: inline-block;
			width: 12px;
			height: 12px;
			background: #8f8f8f;
			border-radius: 50%;
			&.active{
				background: #bbb;
			}
		}
	}
	.testimonial-name{
		display: block;
	}
}


#logos{
	color: white;
	.logos-row{
		&:before,
		&:after{
			content: " ";
			display: table;
		}
		&:after{
			clear: both;
		}
		.logo{
			width: 33.333%;
			float: left;
			text-align: center;
			height: 198px;
			vertical-align: middle;
		}
	}
}


#information{
	.info-features{
		h2{
			text-transform: uppercase;
			font-size: 15.5px;
			font-weight: 700;
		}
		p{
			font-weight: 300;
			font-size: 14.3px;
			line-height: 26px;
			margin-top: 30px;
		}
	}
	.info-features-list{
		.info-feature{
			h3{
				font-size: 14px;
				font-weight: 600;
				line-height: 16px;
				&:before{
					display: inline-block;
					content: ' ';
					width: 20px;
					height: 20px;
					background: green;
					margin: 0 20px;
				}
			}
		}
	}
}

#consultants{

}

#enjoy{
	.enjoy-features{
		text-align: center;
		&:before,
		&:after{
			content: " ";
			display: table;
		}
		&:after{
			clear: both;
		}
		.enjoy-feature{
			width: 33.33%;
			float: left;
			background-color: #f7f7f7;
			border-top: 1px solid #ECECEC;
			border-bottom: 1px solid #ECECEC;
			border-right: 1px solid #ECECEC;
			padding: 50px;
			color: #9c9c9c;
			font-size: 15px;
			line-height: 28px;
			h3{
				text-transform: uppercase;
				font-weight: 700;
				font-size: 19px;
				margin-top: 40px;
				color: #323232;
				line-height: 25px;
				padding: 10px 0px;
			}
			p{
				line-height: 25px;
			}
		}
	}
}

#footer {
	background-color: #141414;
	color:#676767;
	a {color:#c4c4c4;}
	input, textarea {
		background-color: #141414;
		border:1px solid #272727;
		outline: none;
		width: 100%;
		margin-bottom:10px;
		padding:10px 10px;
		font-size: 12px;
		font-weight: bold;
	}
	.submit_buttom {
		color:white;
		background: #c41f30;
	}
	h2 {
		color: white;
		font-size: 19px;
		text-transform: uppercase;
		margin-bottom: 30px;
		font-weight: bold;
	}
	ul{
		list-style: none;
	}
}
.footer_icon li {
	float: left;
	background: #212121;
	border-radius: 200px;
	height: 45px;
	width: 45px;
	margin-right: 12px;
	-moz-transition: .15s ease-in-out;
		-webkit-transition: .15s ease-in-out;
		-o-transition: .15s ease-in-out;
		-ms-transition: .15s ease-in-out;
		transition: .15s ease-in-out;
	i {padding: 13px; color:#575757; font-size: 1.5em;}
}
.footer_adress {
	i{
		margin-right:20px;
	}
	li {margin-bottom: 10px;}
}
.footer_icon {
	li:hover {
		background-color: white;
		i {color: #161616;}
	}
}
.col_footer{
	float: left;
	width: 33.32%;
	padding: 40px 40px 0px 40px;
	min-height: 620px;
	padding-bottom: 0;
	&.middle {border-right: 1px solid #242424;border-left: 1px solid #242424;}
}
.footer_logo {
	float: left;
	padding: 0px 30px 0px 0px;
}
#subfooter {
	background-color: #141414;
	border-top: 1px solid #242424;
	font-size: 12px;
	padding: 20px 15px;
	color: #414141;
	a { color: white;}
}
.by_author {float: right;}
.copyright {float: left;}
