section,
#footer{
	padding-top: 160px;
	&:before,
	&:after{
		content: " ";
		display: table;
	}
	&:after{
		clear: both;
	}
}

.section-header{
	text-align: center;
	h2{
		text-transform: uppercase;
		margin-top: 0;
		font-size: 33px;
	}
	p{
		font-size: 16.5px;
		color: #474747;
		font-weight: 300;
		max-width: 45%;
		display: inline-block;
		margin-top: 15px;
	}
	padding-bottom: 80px;
}

#carousel{
	text-align: center;
	position: relative;
	padding-top: 0;
  @media screen and (max-width: 991px){
    height: 635px !important;
  }
  @media screen and (max-width: 768px){
    height: 491px !important;
  }
  @media screen and (max-width: 640px){
    height: 408px !important;
  }
  @media screen and (max-width: 480px){
    height: 300px !important;
  }
	.slides{
    top: 0;
		position: relative;
		height: 820px;
    @media screen and (max-width: 991px){
      height: 635px !important;
    }
    @media screen and (max-width: 768px){
      height: 491px !important;
    }
    @media screen and (max-width: 640px){
      height: 408px !important;
    }
    @media screen and (max-width: 480px){
      height: 300px !important;
    }
	}
	.carousel-control-direction{
		position: absolute;
		top: 50%;
		width: 100%;
		left: 0;
		z-index: 999;
    margin-top: -15px;
		a{
			width: 30px;
			height: 110px;
			display: inline-block;
			background: rgba(0,0,0,0.3);
			line-height: 110px;
			color: white;
			font-size: 35px;
			&:hover{
				background: black;
			}
			&.left{
				float: left;
			}
			&.right{
				float: right;
			}
		}
	}
	.slide{
		position: absolute;
		display: none;
		top: 0;
		width: 100%;
		height: 823px;
		background-repeat: no-repeat;
		background-size: cover;
    @media screen and (max-width: 991px){
      height: 635px !important;
    }
    @media screen and (max-width: 768px){
      height: 491px !important;
    }
    @media screen and (max-width: 640px){
      height: 408px !important;
    }
    @media screen and (max-width: 480px){
      height: 300px !important;
    }

		.slide-text{
			position: absolute;
			top: 52.12121212121212%;
			width: 100%;
			left: 0;
			text-transform: uppercase;
      @media screen and (max-width: 991px){
        top: 32%;
      }
      @media screen and (max-width: 768px){
        top: 50%;
      }
      @media screen and (max-width: 640px){
        top: 34%;
      }
      @media screen and (max-width: 480px){
        top: 37%;
      }
		}
		h1, h3{
			max-width: 60.20634920634921%;
			display: inline-block;
		}
		h1{
			color: black;
			font-size: 88px;
			font-weight: 700;
			line-height: 100px;
      @media screen and (max-width: 991px){
        font-size: 70px !important;
      }
      @media screen and (max-width: 768px){
        font-size: 26px !important;
        top: 25% !important;
        line-height: 1px !important;
      }
      @media screen and (max-width: 640px){
        font-size: 22px !important;
      }
      @media screen and (max-width: 480px){
        font-size: 16px !important;
      }
		}
		h3{
			color: $deepBlackSec;
			font-weight: 300;
			font-size: 18px;
			line-height: 25px;
      @media screen and (max-width: 768px){
        font-size: 18px !important;
      }
      @media screen and (max-width: 640px){
        font-size: 15px !important;
      }
      @media screen and (max-width: 480px){
        font-size: 11px !important;
        line-height: 18px;
      }
		}
		&.active{
			display: block;
			left: 0;
		}
	}
	.carousel-control{
		position: absolute;
		bottom: 20px;
		left: 0;
		right: 0;
		top: initial;
		width: 100%;
		opacity: 1;
		z-index: 999;
     @media screen and (max-width: 480px){
        top: 88%      }
		a{
			display: inline-block;
			width: 15px;
			height: 15px;
			border-radius: 50%;
			background: $deepBlackSec;
			position: relative;
			&:hover,
			&.active{
				&:before{
					content: '';
					width: 6px;
					height: 6px;
					background: white;
					position: absolute;
					border-radius: 50%;
					left: 50%;
					margin-left: -3px;
					top: 50%;
					margin-top: -4px;
				}
				background: black;
			}
		}
	}
}

#scheme{
	background: #f7f7f7;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
	.i-scheme{
		width: 53px;
		height: 41px;
		display: inline-block;
		background: url('../images/home/icon-intro.png');
	}
	.t-scheme{
		display: inline-block;
		margin-top: 18px;
	}
	h2{
		text-transform: uppercase;
		font-weight: 800;
		font-size: 22px;
		letter-spacing: 5px;
		margin-top: 0;
		margin-bottom: 60px;
	}
	p{
		font-weight: 300;
		color: $deepBlackSec;
		font-size: 25.5px;
	}
}

#features{
	padding-top: 160px;
	.feature-image{
		position: absolute;
		right: 0;
		top: 0;
		width: 35%;
		height: 100%;
		img{
			width: 100%;
		}
    @media screen and (max-width: 768px){
      display: none;
      }
    }
	.i-feature{
		display: inline-block;
		width: 78px;
		height: 65px;
		position: absolute;
		left: 20px;
		top: 0;
		background: {
			image: url('../images/home/sprite.png');
			repeat: no-repeat;
		}
		&.organization{
			background-position: 0 0;
		}
		&.cup{
			background-position: 0 -65px;
		}
		&.pencil{
			background-position: 0 -130px;
		}
		&.qrcode{
			background-position: 0 -195px;
		}
	}
	.features{
		position: relative;
		overflow: hidden;
		h3{
			font-weight: 700;
			text-transform: uppercase;
			font-size: 15.55px;
			margin-top: 22px;
		}
		p{
			font-size: 14px;
			line-height: 26px;
			color: #636363;
			font-weight: 300;
			margin-top: 26px;
		}
	}
	.feature{
		position: relative;
		border-bottom: 1px dashed #d1d1d1;
		padding-left: 124px;
		max-width: 809px;
		margin-left: 20px;
		padding-bottom: 20px;
		& + .feature{
			margin-top: 30px;
		}
		&:before,
		&:after{
			content: " ";
			display: table;
		}
		&:after{
			clear: both;
		}
		&.f-hide{
			margin-left: -50%;
			opacity: 0;
		}
	}
	.button-right{
		text-align: right;
		a{
			background: $blue;
			display: inline-block;
			color: white;
			padding: 5px 26px;
			border-radius: 3px;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 13px;
			&:before{
				content: ' ';
				width: 100%;

			}
		}
	}
}

#testimonials{
	background: black;
	color: white;
	text-align: center;
	height: 770px;
	width: 100%;
	padding-top: 0;
	h3{
		text-transform: uppercase;
		font-size: 32px;
		font-weight: 700;
		margin-top: 155px;
		margin-bottom: 65px;
	}
	.testimonials{
		overflow: hidden;
	}
	.tertimonial-name,
	.tertimonial-profile{
		display: block;
	}
	.tertimonial-name{
		font-weight: bold;
		font-size: 17px;
	}

	.testimonial{
		display: none;
		p{
			line-height: 35px;
			font-weight: 300;
			font-size: 20px;
		}
		&.active{
			display: block;
			position: relative;
		}
	}
	.track{
		width: 100%;
		position: relative;
	}
	.user-image{
		img{
			border-radius: 50%;
		}
	}
	.testimonial-control{
		a{
			display: inline-block;
			width: 12px;
			height: 12px;
			background: #8f8f8f;
			border-radius: 50%;
			&.active{
				background: #bbb;
			}
		}
	}
	.testimonial-name{
		display: block;
	}
	& > .row{
		margin: 0;
	}
}


#logos{
	color: white;
	padding-top: 0;
	.logos-group{
		display: none;
		&.active{
			display: block;
		}
	}
	.logos-row{
		background: #eaeaea;
		&:before,
		&:after{
			content: " ";
			display: table;
		}
		&:after{
			clear: both;
		}
		.logo{
			width: 33.333%;
			float: left;
			text-align: center;
			height: 198px;
			display: inline-block;
			border-right: 1px solid #d7d7d7;
			border-bottom: 1px solid #d7d7d7;
			img{
				position: relative;
				top: 30%;
			}
		}
	}
	.logo-control{
		text-align: center;
		margin-top: 15px;
		a{
			display: inline-block;
			width: 12px;
			height: 12px;
			background: #8f8f8f;
			border-radius: 50%;
			&.active, &:hover{
				background: #bbb;
			}
			& + a{
				margin-left: 10px;
			}
		}
	}
}


#information{
	background: white;
	.row{
		margin: 0;
	}
	.info-wrapper{
		background: #f7f7f7;
	}
	.info-features{
		.information{
			display: none;
			&.active{
				display: block;
			}
		}
		.feature-btn{
			cursor: pointer;
		}
		h2{
			text-transform: uppercase;
			font-size: 15.5px;
			font-weight: 700;
			margin-top: 95px;
		}
		p{
			font-weight: 500;
			font-size: 14.3px;
			line-height: 26px;
			padding: 25px 10px;
			margin-bottom: 0;
			color: #9c9c9c;
		}
	}
	.info-image{
		img{
			max-width: 100%;
		}
	}
	.info-features-list{
    margin-bottom: 15px;
		.info-feature{
			background: white;
			h3{
				font-size: 14px;
				font-weight: 600;
				line-height: 16px;
				padding: 14px 0;
				background: #f9f9f9;
				margin: 0;
				border: {
					bottom: 1px solid #E6E6E6;
					top: 1px solid #E6E6E6;
				}
				.plus{
					display: inline-block;
					text-align: center;
					line-height: 25px;
					width: 25px;
					height: 25px;
					background: #3AB54A;
					margin: 0 20px;
					color: white;
				}
			}
		}
	}
}

#consultants{
	.team_item {
		height: 480px;
		width:25%;
		float: left;
		-webkit-background-size: cover;
		background-size: cover;
		background-position: center;
		position: relative;
		@media only screen and (min-width: 1200px) and (max-width: 1620px) {
			height: 380px;
		}
		@media only screen and (min-width: 992px) and (max-width: 1200px) {
			width: 50%;
		}
		@media only screen and (min-width: 768px) and (max-width: 992px) {
			width: 50%;
		}
		@media only screen and (min-width: 480px) and (max-width: 767px)  {
			display: none;
		}
	}
.team_description h2 {font-size: 30px; color: white; text-transform: uppercase; letter-spacing: 2px; margin-bottom: 0; padding-bottom:0;}
.team_description .job { color: #f8f8f8; font-size: 19px; font-weight: lighter;margin-bottom: 15px;}
.team_description {bottom: 5px;position: absolute;padding-left: 30px;}
.team_over {	position: absolute;	top: 0;	left: 0;	height: 100%;	width: 100%;	opacity: 0;	 background-repeat:no-repeat; 	 background-position:center;
background-size:cover; -moz-transition: .45s ease-in-out;	-webkit-transition: .45s ease-in-out;	-o-transition: .45s ease-in-out;	-ms-transition: .45s ease-in-out;	transition: .45s ease-in-out;
background-color: rgba(255,255,255,.8 );}
.team_over ul {text-align: center;top: 45%;position: relative;}
.team_over li {display: inline-block;
padding: 10px;
margin-right: 10px;
height: 50px;
width: 50px;
margin-bottom: 15px;}
.team_item:hover .team_over {opacity: 1;}
.social_team i {color:white;}


.team_over li.facebook_icon {background-color: #3b5999;}
.team_over li.twitter_icon {background-color: #00cae9;}
.team_over li.dribble_icon {background-color: #f26798;}
.team_over li.wordpress_icon {background-color: #1e769c;}
.team_over li.linkedin_icon {background-color: #117bb7;}
.team_over li.behance_icon {background-color: #000000;}
.team_over li.skype_icon {background-color: #25aee2;}
.team_over li.youtube_icon {background-color: #cb312f;}



.team_over li.instagram_icon {background-color: #5280a4;}
.team_over li.googlep_icon {background-color: #de4b39;}
.team_over li.tumblr_icon {background-color: #31506d;}
.team_over li.github_icon {background-color: #000000;}
.team_over li.pinterest_icon {background-color: #ce2029;}
}

#enjoy{
	.enjoy-features{
		text-align: center;
		&:before,
		&:after{
			content: " ";
			display: table;
		}
		&:after{
			clear: both;
		}
		.feature-icon{
			position: relative;
			img{
				-webkit-transition-duration: 0.3s;
				transition-duration: 0.3s;
				-webkit-transition-property: transform;
				transition-property: transform;
				-webkit-transform: translateZ(0);
				transform: translateZ(0);
			}
			&:before{
				pointer-events: none;
				position: absolute;
				z-index: -1;
				content: '';
				top: 100%;
				left: 25%;
				height: 10px;
				width: 50%;
				opacity: 0;
				background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
				-webkit-transition-duration: 0.3s;
				transition-duration: 0.3s;
				-webkit-transition-property: transform, opacity;
				transition-property: transform, opacity;
			}
		}
		.enjoy-feature{
			width: 33.33%;
			float: left;
			background-color: #f7f7f7;
			border-top: 1px solid #ECECEC;
			border-bottom: 1px solid #ECECEC;
			border-right: 1px solid #ECECEC;
			padding: 50px;
			color: #9c9c9c;
			font-size: 15px;
			line-height: 28px;
			&:hover{
				.feature-icon{
					img{
						-webkit-transform: translateY(-20px);
						transform: translateY(-20px);
					}
					&:before{
						opacity: 1;
						z-index: 1;
					}
				}
			}
			h3{
				text-transform: uppercase;
				font-weight: 700;
				font-size: 19px;
				margin-top: 40px;
				color: #323232;
				line-height: 25px;
				padding: 10px 0px;
			}
			p{
				line-height: 25px;
			}
      @media screen and (max-width: 767px){
        width: 100%;
      }
		}
	}
}

#footer {
	background-color: #141414;
	color:#676767;
	padding-top: 0;
	a {color:#c4c4c4;}
	input, textarea {
		background-color: #141414;
		border:1px solid #272727;
		outline: none;
		width: 100%;
		margin-bottom:10px;
		padding:10px 10px;
		font-size: 12px;
		font-weight: bold;
	}
	.submit_buttom {
		color:white;
		background: #c41f30;
	}
	h2 {
		color: white;
		font-size: 19px;
		text-transform: uppercase;
		margin-bottom: 30px;
		font-weight: bold;
	}
	ul{
		list-style: none;
		padding-left: 0;
		overflow: hidden;
	}
}
.footer_icon li {
	float: left;
	background: #212121;
	border-radius: 200px;
	height: 45px;
	width: 45px;
	margin-right: 12px;
	margin-bottom: 30px;
	-moz-transition: .15s ease-in-out;
		-webkit-transition: .15s ease-in-out;
		-o-transition: .15s ease-in-out;
		-ms-transition: .15s ease-in-out;
		transition: .15s ease-in-out;
	i {padding: 13px; color:#575757; font-size: 1.5em;}
}
.footer_adress {
	i{
		margin-right:20px;
	}
	li {margin-bottom: 10px;}
}
.footer_icon {
	li:hover {
		background-color: white;
		i {color: #161616;}
	}
}
.col_footer{
	float: left;
	width: 33.32%;
	padding: 40px 40px 0px 40px;
	min-height: 680px;
	padding-bottom: 0;
	line-height: 25px;
	font-size: 15px;
	.divider_padding{
		margin-bottom: 65px;
	}
	&.middle {
    border-right: 1px solid #242424;
    border-left: 1px solid #242424;
  @media screen and (max-width: 767px){
    display: none;
    }
  }
  @media screen and (max-width: 767px){
    width: 100%;
  }
}
.footer_logo {
	float: left;
	padding: 0px 30px 0px 0px;
}
#subfooter {
	background-color: #141414;
	border-top: 1px solid #242424;
	font-size: 12px;
	padding: 20px 15px;
	color: #414141;
	a { color: white;}
}
.by_author {float: right;}
.copyright {float: left;}
